body{
  background-color: #fdf6e3;
}

header{
  font-size: 1.5rem;
}

footer{
  font-size: 1.5rem
}

ul nav{
  font-family: sans-serif;
}

.logo{
  text-transform: uppercase;
}

.wrapper{
  background-color: #eee8d5;
}

#content, #favs, #facts,#types{

  color: #93a1a1;
}

.wrapper dfn{
  background-color: #b58900;
}

strong dfn{
  color: #fff;
}

mark {
  background-color: #719e07;
}

.external{
  background-color: #2694d8;
}

ol{
  color: : #719e47;
}

ol{
  color: #2aa198;
}

.types{
  background-color: #657ba3;
}

.types{
  background-color: #586e75;
}

.types{
  background-color: #d04b16;
}
